* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 100px 400px auto;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside aside aside aside"   
    "main main main main"
    "footer footer footer footer";
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: red;
    border: 2px solid black;
    grid-area: header;
}

.center {
    display: flex;
    align-items: center;
}

.nav {
    grid-area: nav;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
    grid-area: aside;
}

.main {
    grid-area: main;
    background: olive;
}

.footer {
    grid-area: footer;
    background: burlywood;
}

.flex-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    background: blue;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    border:2px solid black;
    margin:10px;
    padding:4px 8px;
    background: green;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
