* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 5% 10% 65% 10%;
    grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside aside aside aside"   
    "main main main main"
    "footer footer footer footer";
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #48BF7A;
    color: white;
    grid-area: header;
}

.nav {
    grid-area: nav;
    background: #C6E1D1;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    grid-area: aside;
}

.main {
    grid-area: main;
    min-height: 400px;
    background: #E9F2ED;
}

.footer {
    grid-area: footer;
    background: #28B463;
}

.flex-container-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.flex-item-smallbox {
    border:2px solid beige;
    margin:10px;
    padding:4px 8px;
    background:white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.prodbox {
    width: 60%;
    margin: 8px;
    padding: 10px;
    background: #48BF7A;
}

.flex-container-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-container {
    background: white;
    height: 150px;
    width: 300px;
    margin: 10px;
    position: relative;
}

.pic-container {
    float: left;
    width: 50%;
}

.pic {
    height: 150px;
    width: 150px;
}


.contact-info {
    float: right;
    width: 50%;
}

.name {
    padding: 5px;
    position: absolute;
    top: 5px;
}

.info { 
    padding: 5px;
    position: absolute;
    bottom: 5px;
    list-style-position: inside;
}

.flex-prod {
    display: flex;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: salmon;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

@media(min-width:600px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 50px 100px auto 50px;
        grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "main main main aside"   
        "main main main aside"
        "footer footer footer footer";
    }

    .flex-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .prodbox {
        height: 60%;
        width: 30%;
        margin: 3px;
        padding: 5px;
        flex-wrap: wrap;
    }

    .flex-container-nav {
        justify-content: flex-end;
    }

    .header {
        justify-content: flex-start;
    }

    .aside {
        flex-wrap: wrap;
        margin: 5px;
        align-items: start;
    }
}